:root {
  --accent: #0bcf71;
}

.about {
  color: rgb(225, 225, 225);
  background-color: rgb(5, 5, 5);
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

.perks {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.perk {
  width: 20%;
  padding: 2rem;
  /* flex-grow: 1; */
  border: 1px solid;
  border-color: var(--accent);
  border-radius: 10px;
  max-width: 250px;
}

.perk svg {
  width: 80%;
  max-width: 100px;
  color: var(--accent);
}

.perk p {
  font-size: 1.5rem;
  text-align: center;
}

.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 4rem;
}

.about-content {
  max-width: 30%;
  margin: 4rem 10rem;
}

.about h2 {
  font-weight: 200;
}

.green {
  color: var(--accent);
}

.bold {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }

  .about-text {
    text-align: center;
    flex-direction: column;
    padding: 1rem;
  }

  .about-text svg {
    width: 50%;
  }

  .about-content {
    max-width: 100%;
    margin: 0rem 1rem;
  }

  .about-content h1 {
    font-size: 1.8rem;
  }

  .about-content h2 {
    font-size: 1.2rem;
  }

  .perks {
    padding: 0rem;
  }

  .perk {
    padding: 1rem 0.5rem;
  }

  .perk p {
    font-size: 1rem;
    text-align: center;
  }
}
