:root {
  --accent: #01bf71;
}

.method {
  color: rgb(225, 225, 225);
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background-color: rgb(5, 5, 5);
}

.method-content {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding-top: 6rem;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
}

.method img {
  object-fit: contain;
  width: 50%;
  max-height: 65%;
  z-index: 1;
  padding: 2rem 0rem;
}

.method-content h2 {
  font-weight: 200;
  padding: 1rem 16rem;
  z-index: 3;
}

.green {
  color: var(--accent);
}

@media screen and (max-width: 768px) {
  .method img {
    width: 95%;
  }

  .method-content h2 {
    padding: 1rem;
  }
}
