* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  color: white;
  background-color: black;
  max-width: 100vw;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;

  padding: 0rem 4rem;
}

.burger {
  visibility: none;
  opacity: 0;
}

.closeButton {
  display: none;
}

.nav-items {
  height: 100%;
}

.nav-items-wrapper {
  display: flex;
  align-items: baseline;
  list-style: none;
  margin-left: -8rem;
  font-size: 1.2rem;
  height: 100%;
}

.nav-items li {
  margin: 0rem 1rem;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  height: 100%;
}

.nav-items li::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.2rem;
  background-color: #01bf71;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}

.nav-items li:hover::after {
  transform: scale(1, 1);
}

@media screen and (max-width: 768px) {
  .nav-hide {
    padding: 0rem;
  }

  .burger {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .burger-close {
    display: none;
  }

  .nav-items {
    top: -100%;
    width: 100%;
    visibility: hidden;
    transition: top 0.3s ease-in-out;
  }

  .nav-items-open {
    display: grid;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: #0d0d0d;
    padding: 1rem 4rem;
    z-index: 999;
    transition: 0.3s ease-in-out;
  }

  .closeButton {
    display: block;
    right: 0;
    justify-self: flex-end;
    cursor: pointer;
    font-size: 1.8rem;
  }

  .nav-items-open li {
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 1rem;
    transition: 0.3s ease-in-out;
  }

  .nav-items-open li:hover {
    color: #01bf71;
  }
}
