.review {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  color: white;
  position: relative;
  overflow: hidden;
  background-color: #01bf71;
  background-image: url(../resources/pexels-irina-iriser-1366957.jpg);
  background-blend-mode: luminosity;
  background-size: cover;
}

.review-content {
  z-index: 3;
  padding-top: 6rem;
  width: 100vw;
  height: 100%;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
}

.reviews {
  display: block;
  position: absolute;
  max-height: 80%;
  margin: 1rem;
  width: 100vw;
  width: 400%;
  overflow: hidden;
  left: 0;

  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}

.user-review {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100vw;
  position: relative;
  float: left;
}

.user-review img {
  width: 40%;
  position: relative;
}

.user-review-text {
  position: relative;
  text-align: left;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem 2rem;
  margin-left: -100px;
  background-color: rgb(5, 5, 5, 0.9);
  box-shadow: 0 8px 32px 0 rgba(1, 188, 113, 0.2);
  border-radius: 10px;
  width: 30%;
}

.user-review-text p {
  font-size: 1rem;
  font-weight: normal;
  margin: 1rem 0rem;
}

@media screen and (max-width: 768px) {
  .user-review {
    flex-direction: column;
  }

  .user-review img {
    width: 100%;
    position: relative;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 8px 32px 0 rgba(1, 188, 113, 0.2);
  }

  .user-review-text {
    margin-left: 0;
    text-align: center;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 8px 32px 0 rgba(1, 188, 113, 0.2);
    font-size: 1.2rem;
  }

  .user-review-text p {
    font-size: 0.8rem;
  }
}

/* Carousel */
.review .slidesNavigation {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

.review input {
  display: none;
}

.review .slidesNavigation label {
  margin: 1rem;
  display: block;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 2px #01bf71;
}

#radio-1:checked ~ .reviews {
  transform: translateX(0%);
}

#radio-2:checked ~ .reviews {
  transform: translateX(-25%);
}
#radio-3:checked ~ .reviews {
  transform: translateX(-50%);
}
#radio-4:checked ~ .reviews {
  transform: translateX(-75%);
}

.review .slidesNavigation label:hover {
  cursor: pointer;
}

/* You have to repeat this with each slide/dot */
.review #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
.review #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
.review #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
.review #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
  background: #01bf71;
}
