.signup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;

  background-color: rgb(5, 5, 5, 0.8);
  box-shadow: 0 8px 32px 0 rgba(1, 188, 113, 0.1);
  border-radius: 10px;
}

.signup h1 {
  color: #01bf71;
  padding: 1rem;
}

.signup label {
  text-align: left;
  padding: 0.5rem 1rem;
}

.signup input {
  font-size: 1rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin: 0.5rem;
  border: none;
}

.signup input:focus {
  outline: none;
}

button {
  background: none;
  opacity: 1;
  font: inherit;
  z-index: 2;
}

button:focus {
  outline: none;
}

.signup p {
  margin-bottom: 1rem;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  color: #01bf71;
}

.signup .confirm {
  display: flex;
}

.signup .red {
  color: red;
  border-color: red;
  z-index: 2;
}

.signup .red:hover::before {
  background-color: red;
}

.signup .red:hover {
  color: white;
}
